<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sun.mapper.gzzz.GzzzMapper">

        <resultMap id="GzzzMap" type="java.util.Map">
            <result column="fvchzy" jdbcType="VARCHAR" property="fvchzy" />
            <result column="fbal" jdbcType="DECIMAL" property="fbal" />
            <result column="fsl" jdbcType="DECIMAL" property="fsl" />
            <result column="fdate" jdbcType="DATE" property="fdate" />
            <result column="fzqdm" jdbcType="VARCHAR" property="fzqdm" />
            <result column="fhqssj" jdbcType="DECIMAL" property="fhqssj" />
        </resultMap>

    <select id="getGzzz" resultType="gzzz">
      SELECT
        aa.fvchzy fvchzy,
        aa.fbal fbal,
        aa.fsl fsl,
        aa.fdate fdate,
        bb.fzqdm fzqdm,
        bb.fhqssj fhqssj
      FROM
	      a2019282fcwvch aa
	      LEFT JOIN a2019jjhzhq bb ON aa.fdate = bb.fdate
      WHERE
	    aa.fzqjyfs = 'MRGP'
	    AND ( CASE LENGTH( aa.fkmh ) WHEN 14 THEN SUBSTR( aa.fkmh, 9, 6 ) ELSE aa.fkmh END ) = bb.fzqdm
        AND bb.fdate = DATE('2019-10-10')
    </select>


    <select id="getGzzz2" resultMap="GzzzMap">
        SELECT
            aa.fvchzy fvchzy,
            aa.fbal fbal,
            aa.fsl fsl,
            aa.fdate fdate,
            bb.fzqdm fzqdm,
            bb.fhqssj fhqssj
        FROM
            a2019282fcwvch aa
                LEFT JOIN a2019jjhzhq bb ON aa.fdate = bb.fdate
        WHERE
            aa.fzqjyfs = 'MRGP'
          AND ( CASE LENGTH( aa.fkmh ) WHEN 14 THEN SUBSTR( aa.fkmh, 9, 6 ) ELSE aa.fkmh END ) = bb.fzqdm
          AND bb.fdate = DATE('2019-10-10')
    </select>
</mapper>